#title {
    color: chocolate;
}

#tab1, #tab2, .col {
    border: 1px solid black ;
    border-collapse: collapse;
    background-color: cornsilk;
}

th, tr, td {
    text-align: center;
    padding: 15px;
}

#tab2, #button_products {
    visibility: hidden;    
}


#prod {
    border: hidden;
    text-align: center;
    background-color: cornsilk;
}

.p {
    text-align: center;
    border: hidden;
    
}
