#title {
    color: chocolate;
}

#tab1, tab2, th, td, tr {
    border: 1px solid black ;
    border-collapse: collapse;
}

th, tr, td {
    text-align: center;
    padding: 15px;
}

th {
    background-color: cornsilk
}

#tab2 {
    visibility: hidden;    
}

#button_products {
    visibility: hidden;
}
