#title {
    color: chocolate;
}

#tab1, #tab2, th, td, tr {
    border: 1px solid black ;
    border-collapse: collapse;
}

th, tr, td {
    text-align: center;
    padding: 15px;
}

th {
    background-color: cornsilk;
}

#tab2, #button_products {
    visibility: hidden;    
}


#A, #B, #C {
    border: hidden;
    text-align: center;
    background-color: cornsilk;
}

#p1, #p2, #p3 {
    text-align: center;
    border: hidden;
    
}
